body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.MuiTableBody-root tr:nth-child(odd) {
  background-color: #f2f2f2; /* modificação solicitada */
}

.MuiTableBody-root tr:nth-child(even) {
  background-color: #d3d3d3; /* modificação solicitada */
}